<app-header></app-header>
<div class="table-wrapper">
    <div class="container">
        <form [formGroup]="formGroup" (submit)="search()">
            <input id="employeeId" name="employeeId" formControlName="employeeId" type="text" placeholder="Id Empleado"/>
            <input type="submit" name="Buscar" />
        </form>
        <p style="color: red;"> {{error}} </p>
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo Contrato</th>
                    <th>Rol</th>
                    <th>Descripción</th>
                    <th>Salario por hora</th>
                    <th>Salario por mes</th>
                    <th>Salario anual</th>
                </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="employees.length <= 0">
                        <tr>
                            <td colspan="7">No hay empleados registrados</td>
                        </tr>
                    </ng-container> 
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.Name}}</td>
                        <td>{{employee.ContractTypeName}} </td>
                        <td>{{employee.RoleName}}</td>
                        <td>{{employee.RoleDescription}}</td>
                        <td>{{employee.HourlySalary}}</td>
                        <td>{{employee.MonthlySalary}}</td>
                        <td>{{employee.AnnualSalary}}</td>
                    </tr>
                <tbody>
            </table>

    </div>
</div>

